<header class="site-header">
  <div class="header-inner">
    <a href="/" class="brand">
      <span class="brand-icon">🎴</span>
      <span class="brand-name">PictoCard</span>
    </a>
    <nav class="header-nav">
      <a href="/">Home</a>
      <a href="/tos">Terms</a>
      <a href="/privacy">Privacy</a>
      <a href="/optout">Opt-out</a>
    </nav>
  </div>
</header>
